In [1]:
import pandas as pd

In [2]:
all_place_types = pd.read_csv(f'../data/interim/Place Types.txt', header=None, names=['Place_Type'])

In [3]:
categories_dict = {
    "Transportation and Travel": ["Airport", "Bus Station", "Car Rental", "Car Dealer", 
                                  "Car Repair", "Car Wash", "Gas Station", "Light Rail Station", 
                                  "Subway Station", "Taxi Stand", "Train Station", "Transit Station", 
                                  "Travel Agency",'parking'],
    "Retail and Shopping": ["Art Gallery", "Bakery", "Bicycle Store", "Book Store", 
                            "Clothing Store", "Convenience Store", "Department Store", "Electronics Store", 
                            "Florist", "Furniture Store", "Grocery Store", "Hardware Store",
                            "Home Goods Store", "Jewelry Store", "Liquor Store", "Pet Store", 
                            "Pharmacy", "Shoe Store", "Shopping Mall", "Store", "Supermarket",'storage'],
    "Entertainment and Food": ["Amusement Park", "Aquarium", "Bowling Alley", "Casino", 
                                  "Movie Theater", "Museum", "Night Club", "Park", "Stadium", 
                                  "Tourist Attraction", "Zoo",'movie_rental',"Bar", "Cafe", "Meal Delivery", "Meal Takeaway", "Restaurant",
                                  "Campground", "Lodging", "RV Park"],
    "Health and Wellness": ["Doctor", "Dentist", "Hospital", "Physiotherapist", 
                            "Veterinary Care",'drugstore','hair_care'],
    "Athletics": ["Gym","Spa"],
    "Professional and Public Services": ["Accounting", "Bank", "Beauty Salon", "Car Dealer", 
                                         "City Hall", "Courthouse", "Electrician", "Embassy",
                                         "Fire Station", "Insurance Agency", "Laundry", "Lawyer", 
                                         "Library", "Locksmith", "Painter", "Plumber", "Police", 
                                         "Post Office", "Real Estate Agency", "Roofing Contractor", 
                                         "School", "University",'atm','local_government_office','primary_school','secondary_school',
                                         "Church", "Hindu Temple", "Mosque", "Synagogue"]
}

In [4]:
# Transforming the categories_dict
transformed_categories_dict = {}
for category, places in categories_dict.items():
    transformed_categories_dict[category] = [place.lower().replace(' ', '_') for place in places]

In [5]:
# Invert the categories dictionary to map place type to category
place_type_to_category = {place_type.lower(): category 
                          for category, place_types in transformed_categories_dict.items() 
                          for place_type in place_types}

# Function to map place type to category
def map_category(place_type):
    # Using .lower() to ensure case-insensitive matching
    return place_type_to_category.get(place_type.lower(), 'Other')

# Apply the function to create a new column
all_place_types['Category'] = all_place_types['Place_Type'].apply(map_category)

In [6]:
all_place_types

         Place_Type                          Category
0        accounting  Professional and Public Services
1           airport         Transportation and Travel
2    amusement_park            Entertainment and Food
3          aquarium            Entertainment and Food
4       art_gallery               Retail and Shopping
..              ...                               ...
91  transit_station         Transportation and Travel
92    travel_agency         Transportation and Travel
93       university  Professional and Public Services
94  veterinary_care               Health and Wellness
95              zoo            Entertainment and Food

[96 rows x 2 columns]

In [7]:
all_place_types.to_pickle("../data/processed/place_types_df.pkl")