In [1]:
import pandas as pd
import pickle
from tqdm import tqdm
import requests

In [2]:
qol_df = pd.read_csv('../data/external/QoL Numbeo.txt', sep='\t', header=None)

with open('../data/external/QoL Numbeo column names.txt', 'r', encoding='UTF-8') as file:
    qol_column_names = file.read().splitlines()

qol_df.columns = qol_column_names
qol_df.set_index('Rank', inplace=True)

In [3]:
qol_df.head(6)

,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
Rank,,,,,,,,,,
1,"The Hague (Den Haag), Netherlands",215.7,123.7,79.3,79.9,61.6,5.6,22.0,19.2,90.6
2,"Rotterdam, Netherlands",202.5,115.0,71.1,79.7,64.7,5.5,23.8,24.6,87.9
3,"Luxembourg, Luxembourg",200.5,124.2,72.0,79.0,71.6,11.0,25.8,19.9,82.6
4,"Vienna, Austria",197.7,104.0,72.6,78.9,65.0,10.5,22.5,16.1,81.8
5,"Valencia, Spain",196.3,94.4,70.1,79.8,49.4,4.3,22.3,29.1,93.8
6,"Amsterdam, Netherlands",194.8,108.2,70.9,77.3,69.2,8.3,24.2,25.1,87.5

In [4]:
# qol_df['City'] = qol_df['City'].str.replace(',', ' -')

# def parse_city_name(full_city_name):
#     # Splitting by '-' and taking the first part (city name)
#     return full_city_name.split('-')[0].strip()

# API_KEY = 'AIzaSyDCL0QT2X4-JMar3AxMbDaFrHrDChTTmeo'

# def geocode_city(city_name, api_key):
#     geocode_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={city_name}&key={api_key}"
#     print(city_name)
#     response = requests.get(geocode_url)
#     response = response.json()
#     print(city_name)
#     if response['status'] == 'OK':
#         location = response['results'][0]['geometry']['location']
#         return location['lat'], location['lng']
#     else:
#         print(city_name)
#         return None, None


# # Assuming qol_df is your DataFrame and it has a column 'City'
# qol_df['Parsed City'] = qol_df['City'].apply(parse_city_name)

# # Geocode each city and create new columns for latitude and longitude
# latitudes = []
# longitudes = []
# for city in tqdm(qol_df['Parsed City']):
#     lat, lon = geocode_city(city, API_KEY)
#     latitudes.append(lat)
#     longitudes.append(lon)

# qol_df['City Center Latitude'] = latitudes
# qol_df['City Center Longitude'] = longitudes

# # Now qol_df has two new columns: 'City Center Latitude' and 'City Center Longitude'

In [5]:
#qol_df.to_pickle("../data/processed/qol_df.pkl")