In [1]:
import pandas as pd

# IMPORTS

pd.set_option('display.max_columns', None)
%matplotlib inline
pd.set_option('display.float_format', '{:.5f}'.format)
from IPython.display import display, HTML
display(HTML("<style>.container {width:100% !important; }<style>"))

import warnings
warnings.filterwarnings('ignore')

# Preprocessing

## LOAD & basic exploration

In [4]:
df = pd.read_csv(f"../data/external/global_air_pollution_dataset.csv")
df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [5]:
df.shape

(23463, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             23036 non-null  object
 1   City                23462 non-null  object
 2   AQI Value           23463 non-null  int64
 3   AQI Category        23463 non-null  object
 4   CO AQI Value        23463 non-null  int64
 5   CO AQI Category     23463 non-null  object
 6   Ozone AQI Value     23463 non-null  int64
 7   Ozone AQI Category  23463 non-null  object
 8   NO2 AQI Value       23463 non-null  int64
 9   NO2 AQI Category    23463 non-null  object
 10  PM2.5 AQI Value     23463 non-null  int64
 11  PM2.5 AQI Category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [14]:
df[['AQI Value','CO AQI Value','Ozone AQI Value','NO2 AQI Value','PM2.5 AQI Value']].corr()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
AQI Value,1.00000,0.43060,0.40531,0.23176,0.98433
CO AQI Value,0.43060,1.00000,0.14572,0.48809,0.43856
Ozone AQI Value,0.40531,0.14572,1.00000,-0.18182,0.33989
NO2 AQI Value,0.23176,0.48809,-0.18182,1.00000,0.26013
PM2.5 AQI Value,0.98433,0.43856,0.33989,0.26013,1.00000

In [22]:
df.columns = [col.replace(' ', '_') for col in df.columns]

In [23]:
df.head(3)

,Country,City,AQI_Value,AQI_Category,CO_AQI_Value,CO_AQI_Category,Ozone_AQI_Value,Ozone_AQI_Category,NO2_AQI_Value,NO2_AQI_Category,PM2.5_AQI_Value,PM2.5_AQI_Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate

### Ranges

In [24]:
df.columns

Index(['Country', 'City', 'AQI_Value', 'AQI_Category', 'CO_AQI_Value',
       'CO_AQI_Category', 'Ozone_AQI_Value', 'Ozone_AQI_Category',
       'NO2_AQI_Value', 'NO2_AQI_Category', 'PM2.5_AQI_Value',
       'PM2.5_AQI_Category'],
      dtype='object')

In [59]:
import pandas as pd

def column_ranges_and_distribution(df):
    column_ranges = {}

    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            # Find min and max values
            min_value = df[col].min()
            max_value = df[col].max()
            # Add range as a list [min, max] to the dictionary
            column_ranges[col] = [min_value, max_value]

            # Display distribution using .describe() and format with 2 decimal places
            print("\n")
            print(f"{col}")
            print("\n")
            print(df[col].describe().apply(lambda x: format(x, '.2f')))
            print("\n")
            print("---------------------------------")

    return column_ranges

# Example usage
# ranges = column_ranges_and_distribution(your_dataframe)
# print("Ranges for numeric columns:")
# print(ranges)

In [60]:
column_ranges_and_distribution(df)

AQI_Value


count    23463.00
mean        72.01
std         56.06
min          6.00
25%         39.00
50%         55.00
75%         79.00
max        500.00
Name: AQI_Value, dtype: object


---------------------------------


CO_AQI_Value


count    23463.00
mean         1.37
std          1.83
min          0.00
25%          1.00
50%          1.00
75%          1.00
max        133.00
Name: CO_AQI_Value, dtype: object


---------------------------------


Ozone_AQI_Value


count    23463.00
mean        35.19
std         28.10
min          0.00
25%         21.00
50%         31.00
75%         40.00
max        235.00
Name: Ozone_AQI_Value, dtype: object


---------------------------------


NO2_AQI_Value


count    23463.00
mean         3.06
std          5.25
min          0.00
25%          0.00
50%          1.00
75%          4.00
max         91.00
Name: NO2_AQI_Value, dtype: object


---------------------------------


PM2.5_AQI_Value


count    23463.00
mean        68.52
std         54.80
min          0.00
25%         35.00
50%         54.00
75%         79.00
max        500.00
Name: PM2.5_AQI_Value, dtype: object


---------------------------------

{'AQI_Value': [6, 500],
 'CO_AQI_Value': [0, 133],
 'Ozone_AQI_Value': [0, 235],
 'NO2_AQI_Value': [0, 91],
 'PM2.5_AQI_Value': [0, 500]}

In [38]:
df[df['AQI_Value']>100]['AQI_Value']

9        142
12       158
13       158
16       154
19       161
        ...
23439    131
23449    101
23452    124
23455    160
23458    184
Name: AQI_Value, Length: 4244, dtype: int64

### Uniques

In [9]:
df['Country'].nunique()

175

In [10]:
df['City'].nunique()

23462

### NaNs

In [15]:
df[df['City'].isna()]

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
2641,Israel,NaN,68,Moderate,1,Good,48,Good,4,Good,68,Moderate

In [16]:
df[df['Country'].isna()]

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
535,NaN,Granville,30,Good,1,Good,30,Good,3,Good,25,Good
654,NaN,Kingston Upon Hull,33,Good,1,Good,17,Good,8,Good,33,Good
787,NaN,New Waterford,20,Good,1,Good,18,Good,9,Good,20,Good
801,NaN,Kingstown,163,Unhealthy,0,Good,25,Good,0,Good,163,Unhealthy
906,NaN,Nanakuli,30,Good,0,Good,27,Good,0,Good,30,Good
...,...,...,...,...,...,...,...,...,...,...,...,...
22979,NaN,Kyaikkami,54,Moderate,0,Good,20,Good,0,Good,54,Moderate
23115,NaN,Bima,25,Good,1,Good,25,Good,0,Good,24,Good
23311,NaN,Marapanim,25,Good,1,Good,15,Good,0,Good,25,Good
23345,NaN,Calbuco,36,Good,1,Good,15,Good,3,Good,36,Good
23420,NaN,Sungairaya,49,Good,1,Good,12,Good,0,Good,49,Good